.footer {
  padding: 10px 20px 0 20px;
  padding-bottom: max(var(--tg-viewport-safe-area-inset-bottom, 0px), 10px);

  display: flex;
  justify-content: center;
}

.buttonsContainer {
  width: 100%;

  display: flex;
  gap: 10px;
  max-width: 600px;
}

.button {
  flex-grow: 1;
  flex-basis: 0;
}

.backButton {
  background-color: var(--tertiary-bg-color) !important;
  color: var(--tg-theme-text-color) !important;
}
