.footer {
  padding: 20px;
  padding-bottom: 40px;

  display: flex;
  justify-content: center;
}

.buttonsContainer {
  width: 100%;

  display: flex;
  gap: 10px;
  max-width: 600px;
}

.button {
  flex-grow: 1;
  flex-basis: 0;
}
