.header {
  padding: 20px;

  display: flex;
  flex-direction: column;

  gap: 12px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.counter {
  color: var(--tgui--subtitle_text_color);
  letter-spacing: 0.03em;
}

.title {
  color: var(--tgui--text_color);
}

.progressBarContainer {
  height: 4px;
  width: 100%;
  background-color: var(--secondary-bg-color);
  border-radius: 2px;
  overflow: hidden;
}

.progressBar {
  height: 100%;
  background-color: var(--tg-theme-button-color);
  transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
