.header {
  padding: 20px;
  padding-top: calc(20px + var(--tgui--safe-area-before, 0px));

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.counter {
  color: var(--tgui--subtitle_text_color);
  letter-spacing: 0.03em;
}

.title {
  color: var(--tgui--text_color);
}

.progressBarContainer {
  height: 4px;
  width: 100%;
  background-color: var(--tgui--secondary_bg_color);
  border-radius: 2px;
  overflow: hidden;
}

.progressBar {
  height: 100%;
  background-color: var(--tgui--button_color, blue);
  transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
