.activeTab {
  background-color: var(--tg-theme-button-color) !important;
}

.menuContainer {
  width: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.groupsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.groupsHint {
  align-self: start;

  padding-left: 10px;

  color: var(--tgui--section_header_text_color);
}

.groups {
  width: 100% !important;
  height: fit-content !important;
  background-color: var(--tertiary-bg-color) !important;
  --tgui--segmented_control_active_bg: var(--tg-theme-button-color) !important;
}

.buttonsContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.button {
  width: 100%;
  justify-content: space-between !important;
}
