.activeTab {
  background-color: var(--tg-theme-button-color) !important;
}

.menuContainer {
  width: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.menu {
  width: 100% !important;
  height: fit-content !important;
}

.menuHint {
  align-self: start;

  padding-left: 10px;

  color: var(--tgui--section_header_text_color);
}
