.container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.features {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  padding-left: 20px;
}

.featureItem {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon {
  font-size: 24px;
}
