.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Центрируем контент по вертикали */
  padding: 20px;
}

.content {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.features {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  padding-left: 20px;
}

.featureItem {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon {
  font-size: 24px;
}
