.header {
  max-width: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.iconContainer {
  width: 64px;
  height: 64px;
  background-color: var(--tgui--accent_text_color);
  color: #fff;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  color: var(--tgui--subtitle_text_color);
}
