.header {
  max-width: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.title {
  text-align: center;
}

.iconContainer {
  width: 64px;
  height: 64px;
  background-color: var(--tg-theme-button-color);
  color: #fff;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.failIconContainer {
  background-color: var(--tg-theme-destructive-text-color);
}

.description {
  color: var(--tgui--subtitle_text_color);
  text-align: center;
}

.hint,
.error {
  width: 80%;
  background-color: var(--tertiary-bg-color);
  padding: 10px 30px;
  border-radius: 44px;
  text-align: center;
}
