.rubleIcon {
  color: var(--tgui--button_color);
}

.presetsContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.presetsTitle {
  color: var(--tgui--section_header_text_color);
  padding-left: 4px;
}

.presetsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
