.scrollable {
  width: 100%;

  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1 1 0%;

  display: flex;
  flex-direction: column;
}

.wizardLayout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  overflow: hidden;
  background-color: var(--tg-theme-bg-color);
}

.headerContainer {
  flex-shrink: 0;
  z-index: 10;
  border-bottom: 1px solid var(--divider-color);
  margin: 0px 10px;
}

.mainContainer {
  max-width: 600px;
  padding: 40px 20px 20px 20px;

  align-self: center;

  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  -webkit-overflow-scrolling: touch;
}

.footerContainer {
  border-top: 1px solid var(--divider-color);
  flex-shrink: 0;
  width: 100%;
  background-color: var(--secondary-bg-color);

  @media (max-height: var(--tg-viewport-stable-height)) {
    display: none;
  }
}

.failIcon {
  background-color: var(--tg-theme-destructive);
}
