.wizardLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.headerContainer {
  flex-shrink: 0;
  width: 100%;
  background-color: var(--tgui--tertiary_bg_color);
  z-index: 10;
}

.mainContainer {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px 20px 20px;
  gap: 32px;
}

.footerContainer {
  flex-shrink: 0;
  width: 100%;
  background-color: var(--tgui--tertiary_bg_color);
}
