.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1 1 0%;

  display: flex;
  flex-direction: column;
}

.wizardLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background-color: var(--bg-color);
}

.headerContainer {
  flex-shrink: 0;
  z-index: 10;
  border-bottom: 1px solid var(--divider-color);
  margin: 0px 10px;
}

.mainContainer {
  padding: 40px 20px 20px 20px;

  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  -webkit-overflow-scrolling: touch;
}

.footerContainer {
  border-top: 1px solid var(--divider-color);
  flex-shrink: 0;
  width: 100%;
  background-color: var(--secondary-bg-color);
}

.failIcon {
  background-color: var(--tg-theme-destructive);
}
