:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --tg-theme-button-color: #8774e1 !important;
  --tg-theme-bg-color: #1e1e2a !important;
  --tg-theme-text-color: #fff !important;
  --tg-theme-section-header-text-color: var(--tg-theme-button-color) !important;
  --tg-theme-accent-text-color: var(--tg-theme-button-color) !important;
  --tg-theme-link-color: var(--tg-theme-button-color) !important;
  --tgui--segmented_control_active_bg: orange;

  --tertiary-bg-color: #3b3846;

  --tg-theme-section-bg-color: var(--tertiary-bg-color) !important;

  --outline: hsla(0, 0%, 100%, 0.1);
  --secondary-bg-color: #2a2736;
  --divider-color: rgba(150, 140, 255, 0.15);
  --input-bg-color: #16161f;
}

body {
  margin: 0;
  padding: 0;

  overflow: hidden;

  height: 100dvh;
  width: 100dvw;
}

#root {
  height: 100%;
  width: 100%;
}

.appRoot {
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html[platform='ios'] .input {
  background-color: var(--input-bg-color) !important;
}

html:not([platform='ios']) .input {
  box-shadow: 0 0 0 2px var(--outline) !important;
}

html:not([platform='ios']) .input:focus-within {
  box-shadow: 0 0 0 2px var(--tg-theme-button-color) !important;
}
