:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-color: #1e1e2a;
  --secondary-bg-color: #2a2736;
  --divider-color: rgba(150, 140, 255, 0.15);
  --text-color: #fff;
  --input-bg-color: #16161f;
}

body {
  margin: 0;
  padding: 0;

  overflow: hidden;

  height: 100dvh;
  width: 100dvw;
}

#root {
  height: 100%;
  width: 100%;
}

.appRoot {
  height: 100%;
  width: 100%;
}

.themeProvider {
  height: 100%;
  width: 100%;
  --tgui--bg_color: var(--bg-color) !important;
  --tgui--text_color: var(--text-color) !important;
  --tgui--button_text_color: var(--text-color) !important;
  --tgui--plain_foreground: var(--text-color) !important;
  --tgui--plain_background: #3b3846 !important;
  --tg-theme-text-color: var(--text-color) !important;
  --tg-theme-button-color: #8774e1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html[platform='ios'] .inputField {
  background-color: var(--input-bg-color) !important;
}

.text {
  color: var(--text-color);
}
